<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="DependentAssemblySettings" type="SamuraiDojo.IoC.DependentAssemblySettings" />
  </configSections>

  <DependentAssemblySettings>
    <assemblies>
      <add name="SamuraiDojo"/>
      <!--<add name="SamuraiDojo.Benchmarking"/>-->
      <add name="SamuraiDojo.ScoreBoard"/>
      <add name="SamuraiDojo.Scoring"/>
      <add name="SamuraiDojo.Test"/>
      <add name="SamuraiDojo.Utility"/>
    </assemblies>
  </DependentAssemblySettings>
  
</configuration>