<div class="container" ng-controller="HomePageController as vm">

    <h1>This week's challenge: <span>{{vm.CurrentChallenge}}</span></h1>

    <h2>Response: {{vm.Response}}</h2>

    <h3>{{vm.Response.error}}</h3>

</div>