<div class="container" ng-controller="HomePageController as vm">

    <h3>This week's challenge: <span class="bold italic">'{{vm.CurrentChallenge.Name}}'</span></h3>

    <div class="spacer-25"></div>

    <div class="row center-block">
        <div class="col-sm-4">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Points</th>
                        <th>Challenges</th>
                    </tr>
                </thead>
                <tbody ng-repeat="player in vm.AllPlayers">
                    <tr>
                        <td>{{player.Rank}}</td>
                        <td>{{player.Username}}</td>
                        <td>{{player.TotalPoints}}</td>
                        <td>{{player.ChallengesCompleted}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>