<div class="container" ng-controller="HomePageController as vm">

    <div class="spacer-25"></div>

    <div class="row row-outdent">

        <h3><span class="italic">'{{vm.CurrentBattle.Battle.Name}}'</span></h3>
        <h4>Deadline: <span class="italic">{{vm.CurrentBattle.Battle.Deadline | date:'EEEE, MM/dd/yyyy'}}</span></h4>
        <h4>Sensei: <span class="italic">{{vm.CurrentBattle.Sensei.Name}}</span></h4>
        <pre>
        <code>

using System.Collections.Generic;
using SamuraiDojo.Attributes;

namespace SamuraiDojo.Battles.Week3
{
    [Sensei(Samurai.MATT)]
    [Battle("8/23/19", "Census Maximus", typeof(CensusMaximus))]
    public abstract class CensusMaximus
    {

        /// &lt;summary&gt;
        /// Given a list of people containing the year they were born and 
        /// the year they died, find the first year in which the number of
        /// living people is maximized.
        /// 
        /// Constraints:
        ///     - All people were born and died between 1900 and 2000 inclusive.
        ///     - If multiple years have an equal number of people, pick the first year.
        ///     - The list will always have at least 1 person
        /// 
        /// &lt;/summary&gt;
        /// &lt;param name="people"&gt;People and their birth/death years.&lt;/param&gt;
        /// &lt;returns&gt;The first year in which the number of living people is at its maximum.&lt;/returns&gt;
        public abstract int MostPopulousYear(List&lt;Person&gt; people);
    }
}

            </code>

        </pre>

    </div>

    <div class="spacer-25"></div>

    <div class="row">
        @*<div class="col-sm-4">
            <h3 class="inline-block underline">Leader Board:</h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th>Points</th>
                        <th>Battles</th>
                        <th>Sensei</th>
                    </tr>
                </thead>
                <tbody ng-repeat="player in vm.AllPlayers">
                    <tr>
                        <td>{{player.Rank}}</td>
                        <td class="lowercase">{{player.Name}}</td>
                        <td>{{player.TotalPoints}}</td>
                        <td>{{player.BattlesCompleted}}</td>
                        <td>{{vm.GetSenseiCount(player, vm.Battles)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>*@

        <div class="col-sm-12">
            <h2 class="underline inline-block row-outdent">Archive:</h2>
            <div class="spacer-10"></div>
            <div ng-repeat="battle in vm.Battles | orderBy: '-Battle.Deadline'">
                <div class="row">
                    <h4 class="row-buffer">
                        <span class="bold italic">'{{battle.Battle.Name}}'</span> <span class="w-25 inline-block"></span> <span class="italic">Deadline: {{battle.Battle.Deadline | date:'EEEE, MM/dd/yyyy'}}</span>
                    </h4>
                    <h5 class="row-buffer">
                        <span class="bold">Sensei: </span><span class="italic">{{battle.Sensei.Name}}</span>
                    </h5>
                    <div class="col-sm-6"
                         ng-show="battle.Results.length">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Points</th>
                                    <th>Player</th>
                                    <th>Awards</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="result in battle.Results">
                                <tr>
                                    <td>{{result.Points}}</td>
                                    <td class="lowercase">{{result.Player.Name}}</td>
                                    <td class="italic">{{vm.PrintAwards(result) || '--'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-hide="battle.Results.length">
                        <span class="w-35 inline-block"></span><h4 class="inline-block inline">Nobody has solved <span class="italic">'{{battle.Battle.Name}}'</span> yet!</h4>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>

    <div class="spacer-25"></div>

    <div class="row">
    </div>

</div>