<div class="container" ng-controller="HomePageController as vm">
    
    <div class="spacer-25"></div>

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>Username:</td>
                        <td>{{vm.Player.Username}}</td>
                    </tr>
                    <tr>
                        <td>Rank:</td>
                        <td>{{vm.Player.Rank}}</td>
                    </tr>
                    <tr>
                        <td>Total Points:</td>
                        <td>{{vm.Player.TotalPoints}}</td>
                    </tr>
                    <tr>
                        <td>Challenges Completed:</td>
                        <td>{{vm.Player.ChallengesCompleted}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
