<div class="container" ng-controller="MyProfileController as vm">

    <div class="spacer-25"></div>

    <div class="row">
        <h3 class="underline">Your Stats:</h3>
        <div class="col-sm-6">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="bold">Username:</td>
                        <td class="lowercase">{{vm.Player.Name}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Total Points:</td>
                        <td>{{vm.Player.TotalPoints}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Rank:</td>
                        <td>{{vm.Player.Rank}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Battles As Sensei:</td>
                        <td>{{vm.GetSenseiCount(vm.Player, vm.Challenges)}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Battles Fought:</td>
                        <td>{{vm.Player.ChallengesCompleted}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">

        <h3 class="underline">Your History:</h3>
        <div class="spacer-10"></div>
        <div>
            <div class="row">
            <div class="col-sm-6">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Challenge</th>
                            <th>Your Points</th>
                            <th>Deadline</th>
                            <th>Sensei</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="challenge in vm.Challenges">
                            <td>{{challenge.Challenge.Name}}</td>
                            <td>{{vm.GetPointsFromChallenge(challenge, vm.Player)}}</td>
                            <td>{{challenge.Challenge.Deadline | date:'EEEE, MM/dd/yyyy'}}</td>
                            <td>{{vm.IsSensei(challenge, vm.Player) ? 'Yes' : 'No'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>

    </div>

</div>