<div class="row">

    <div class="spacer-25"></div>

    <div class="text-center">
        <h3 class="bold">The coveted <span class="italic">'True Samurai'</span> trophy</h3>
        <img class="" src="@Url.Content("~/Content/Images/samuraibobble.jpg")" width="300" height="300" />
        <figcaption>Each week, the player with the most points becomes the keeper of the <span class="italic">'True Samurai'</span> trophy</figcaption>
    </div>

    <div class="spacer-15"></div>

    <h3 class="bold">Scoring:</h3>
    <ul>
        <li>
            Points don't carry over from the previous week, so anybody can jump in at any point without consequence.
            <ul>
                <li>Each challenged is just a self-contained chance for some fun.</li>
            </ul>
        </li>
        <li>
            Players win one point for every test they pass for the week.
            <ul>
                <li>You are not penalized for failed tests, you just don't get a point</li>
            </ul>
        </li>
        <li>You can win various bonus points by earning any of the awards outlined on the <span class="bold italic">'@Html.ActionLink("Awards", "Awards", "Samurai")'</span> page</li>
    </ul>

    <div class="spacer-15"></div>

    <h3 class="bold">Measuring (Time) Efficiency:</h3>
    <ul>
        <li>Efficiency is measured objectively using a third party library, <a class="bold" href="https://benchmarkdotnet.org/articles/overview.html">Benchmark.NET</a></li>
        <li>Algorithms are grouped into buckets of similar efficiency, due to the error-prone nature of performance benchmarking.</li>
        <li>
            The efficiency ranking algorithm first determines the mimimum measured standard deviation from results of all benchmarks
            <ul>
                <li>This is used to determine the margin by which algorithms' efficiencies are grouped</li>
            </ul>
        </li>
        <li>
            The ranking algorithm takes the fastest unprocessed benchmark, then groups all unprocessed algorithms whose mean execution time falls within 2 standard deviations of the fastest algorithm's mean execution time.
            <ul>
                <li>This group is removed and placed into a bucket (1st, 2nd, 3rd, etc)</li>
                <li>This repeats until all benchmarks have been placed into a bucket.</li>
            </ul>
        </li>


    </ul>

</div>