<div class="row">

    <div class="spacer-25"></div>

    <div class="text-center">
        <h3 class="bold">The coveted <span class="italic">'True Samurai'</span> trophy</h3>
        <img class="" src="@Url.Content("~/Content/Images/samuraibobble.jpg")" width="300" height="300" />
        <figcaption>Each week, the player with the most points becomes the keeper of the <span class="italic">'True Samurai'</span> trophy</figcaption>
    </div>

    <div class="spacer-15"></div>

    <h3 class="bold">Scoring:</h3>
    <ul>
        <li>
            Points don't carry over from the previous week, so anybody can jump in at any point without consequence.
            <ul>
                <li>Each challenged is just a self-contained chance for some fun.</li>
            </ul>
        </li>
        <li>
            Players win one point for every test they pass for the week.
            <ul>
                <li>You are not penalized for failed tests, you just don't get a point</li>
            </ul>
        </li>
        <li>You can win various bonus points by earning any of the awards outlined on the <span class="bold italic">'@Html.ActionLink("Awards", "Awards", "Samurai")'</span> page</li>
    </ul>

    <div class="spacer-15"></div>

</div>