body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

div.spacer-5 {
    height: 5px;
    background-color: transparent;
    width: 100%;
}

div.spacer-10 {
    height: 10px;
    background-color: transparent;
    width: 100%;
}

div.spacer-15 {
    height: 15px;
    background-color: transparent;
    width: 100%;
}

div.spacer-20 {
    height: 20px;
    background-color: transparent;
    width: 100%;
}

div.spacer-25 {
    height: 25px;
    background-color: transparent;
    width: 100%;
}

.w-35 {
    width: 35px;
    background-color: transparent;
}

.w-30 {
    width: 30px;
    background-color: transparent;
}

.w-25 {
    width: 25px;
    background-color: transparent;
}

.w-20 {
    width: 20px;
    background-color: transparent;
}

.w-15 {
    width: 15px;
    background-color: transparent;
}

.w-10 {
    width: 10px;
    background-color: transparent;
}

.w-5 {
    width: 5px;
    background-color: transparent;
}

.inline-block {
    display: inline-block;
}

.lowercase {
    text-transform: lowercase;
}

hr {
    border-top: 1px solid black;
    margin-left: -10px;
    margin-right:-10px;
}

.row-buffer {
    margin-left: 15px;
    margin-right: 15px;
}

iframe {
    width: 100%;
}

.border {
    border: 1px solid black;
}

.scroll-y {
    overflow-y: auto;
}

.h-50 {
    height: 200px;
}

.row-outdent {
    margin-left: -30px;
}

.centered {
    margin: auto;
    width: 100%;
    display: inline-block;
}

#battleDescription {
    min-width: 800px;
}

@media screen and (max-width: 767px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-nav {
        float: left !important;
    }

    ul.nav.navbar-nav {
        float: left !important;
        clear: both;
    }
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    backface-visibility: hidden;
    background-color: transparent;
    font-size: 150%;
}

.divider-extend {
    margin-left: -75px;
    margin-right: -75px;
}

.jump-target::before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}